option_settings:
  aws:elasticbeanstalk:application:environment:

#Since I 
resources:
  CloudWatchMetrics:
    # Metric for 2xx Responses
    HttpCodesMetric2xx:
      Type: "AWS::CloudWatch::MetricFilter"
      Properties:
        LogGroupName: "/aws/elasticbeanstalk/travel_itinerary_app/var/log/httpd/access_log"
        FilterPattern: "[ip, identity, user_id, timestamp, request, status=2*, size, referer, user_agent]"
        MetricTransformations:
          - MetricName: Http2xxResponses
            MetricNamespace: "travel_itinerary_app/HttpMetrics"
            MetricValue: "1"

    # Metric for 3xx Responses
    HttpCodesMetric3xx:
      Type: "AWS::CloudWatch::MetricFilter"
      Properties:
        LogGroupName: "/aws/elasticbeanstalk/travel_itinerary_app/var/log/httpd/access_log"
        FilterPattern: "[ip, identity, user_id, timestamp, request, status=3*, size, referer, user_agent]"
        MetricTransformations:
          - MetricName: Http3xxResponses
            MetricNamespace: "travel_itinerary_app/HttpMetrics"
            MetricValue: "1"

    # Metric for 4xx Responses
    HttpCodesMetric4xx:
      Type: "AWS::CloudWatch::MetricFilter"
      Properties:
        LogGroupName: "/aws/elasticbeanstalk/travel_itinerary_app/var/log/httpd/access_log"
        FilterPattern: "[ip, identity, user_id, timestamp, request, status=4*, size, referer, user_agent]"
        MetricTransformations:
          - MetricName: Http4xxResponses
            MetricNamespace: "travel_itinerary_app/HttpMetrics"
            MetricValue: "1"

    # Metric for 5xx Responses
    HttpCodesMetric5xx:
      Type: "AWS::CloudWatch::MetricFilter"
      Properties:
        LogGroupName: "/aws/elasticbeanstalk/travel_itinerary_app/var/log/httpd/access_log"
        FilterPattern: "[ip, identity, user_id, timestamp, request, status=5*, size, referer, user_agent]"
        MetricTransformations:
          - MetricName: Http5xxResponses
            MetricNamespace: "travel_itinerary_app/HttpMetrics"
            MetricValue: "1"


